.unhealthy {
  border: none;
  display: flex;
  padding: 30px;
  gap: 20px;
  border-radius: 20px;
  outline: 2px solid rgb(215, 215, 215);
  background: linear-gradient(to right, rgb(255 233 213), rgb(255 248 238));
}
